<div class="footer container-fluid">
  <div class="row">
    <div class="col-md-6 leftfoot">
      <div>
        <img src="assets/logo/littleindialogo.png" 
        alt="Logo" style=" width:30px; border: 1px solid white; border-radius: 50%;">
        <span style="color: rgb(254, 132, 9);">&nbsp;LITTLE INDIA HEALTHY CUISINE</span>
      </div>
      <span class="site-marker"><i class="fa fa-map-marker"></i> 8 Rue Michel Hack L-3240 Bettembourg</span>
    </div>
    <div class="col-md-6 rightfoot">
      <span>© Copyright Little India. {{ getDate() }} | All Rights Reserved</span>
      <span>Developed by : <a href="http://www.prologicsolutions.com/" target="_blank">Prologic Solutions Pvt. Ltd.</a></span>
      <section class="social">
          <a class="social-facebook"><i class="fa fa-facebook"></i></a>
          <a class="social-twitter"><i class="fa fa-twitter"></i></a>
          <a class="social-instagram"><i class="fa fa-instagram"></i></a>
      </section>
    </div>
  </div>
</div>
