<div class="container-fluid contact">
  <div class="row">
    <div class="col-sm-12 col-md-9 maplocation">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2590.2696347301103!2d6.092800215267056!3d49.517185062048206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479536316c94c009%3A0x9d5e9cc442c5ad9e!2s8+Rue+Michel+Hack%2C+3240+Bettembourg%2C+Luxembourg!5e0!3m2!1sen!2snp!4v1503558625677">
      </iframe>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="contact-header">
        <div class="contact-wrap">
          <div class="contact-inner-wrap">
            <span class="contact-title">Contact Info</span>
          </div>
        </div>
      </div>
      <div class="contact-details">
        <section class="contact-location">
          <span class="contact-location-heading">Little India</span>
          <span class="contact-site-marker"><i class="fa fa-map-marker"></i> 8 Rue Michel Hack L-3240 Bettembourg</span>
          <span class="contact-phone"><i class="fa fa-phone"></i> +352 28 99 80 40</span>
          <span class="contact-mail" style="cursor:pointer;"><i class="fa fa-envelope"> info@littleindiarestaurant.com</i></span>
        </section>
        <section class="contact-time">
          <span class="contact-time-heading">Opening Hours</span>
          <span class="contact-time-open">Tuesday to Sunday</span>
          <span class="contact-time-time1">12:00PM - 2:00PM</span>
          <span class="contact-time-time2">6:00PM - 10:30PM</span>
          <span class="contact-time-close">Monday Closed</span>
        </section>
      </div>
    </div>
  </div>
</div>