<section class="container">
  <div class="row">
    <article class="focus">
      <section class="focus-detail col-md-6">
        <h2 class="focus-detail-title">Experience the taste of India</h2>
        <p class="focus-detail-desc">Welcome to the restaurant Little India, one of the finest Indian restaurant in
          Luxembourg.
          Little India is delighted to offer you finest food, wonderful drinks and best service with smile.
          We have lots of special recipes found only here.
          The success of our style of cooking depends on the very best ingredients being treated in the simplest way to
          enhance their natural flavours.
          The meals are prepared to order “a la minute”, nothing is pre-cooked, please allow a little time so that our
          qualified chefs can ensure your meal is prepared with expertise and care.
          Have a pleasant dining experience.
        </p>
      </section>
      <section class="col-md-6 focus-image">
        <img src="../../../assets/home/focus.jpg" alt="Cuisine Focus" class="img-responsive">
      </section>
    </article>
  </div>
</section>
<div class="container-fluid">
  <cuisine-special></cuisine-special>
</div>